<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>List of reservations</title>
</head>
<body>


<form action="#" th:action="@{/reservations}" th:object="${createGymMemberReservation}" method="post">
    <div>
        <label th:for="${email}">Gym member email</label>
        <input type="text" id="email" name="email" th:value="*{email}"/>
    </div>
    <div>
        <label th:for="${firstNameTrainer}">Gym trainer first name</label>
        <input type="text" id="firstNameTrainer" name="firstNameTrainer" th:value="*{firstNameTrainer}"/>
    </div>
    <div>
        <label th:for="${lastNameTrainer}">Gym trainer last name</label>
        <input type="text" id="lastNameTrainer" name="lastNameTrainer" th:value="*{lastNameTrainer}"/>
    </div>
    <div>
        <label th:for="${program}">Gym trainer program</label>
        <input type="text" id="program" name="program" th:value="*{program}"/>
    </div>
    <div>
        <label th:for="${period}">Gym trainer period</label>
        <input type="text" id="period" name="period" th:value="*{period}"/>
    </div>
    <div>
        <input type="submit" id="doUpdate" name="save client" value="create new reservation"/>
    </div>
</form>

<br/>
<br/>


<table id="myTableId" dt:table="true">
    <thead>
    <tr>
        <th>Email</th>

        <th>Gym Trainer</th>
        <th>Trainer first name</th>
        <th>Trainer last name</th>
        <th>Trainer program</th>
        <th>Available period for the program</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="reservation : ${reservations}">
        <td th:text="${reservation.gymMembers.email}"></td>

        <td>Gym Trainer</td>
        <td th:text="${reservation.gymTrainer.firstNameTrainer}"></td>
        <td th:text="${reservation.gymTrainer.lastNameTrainer}"></td>
        <td th:text="${reservation.gymTrainer.program}"></td>

        <td>Reservation</td>
        <td th:text="${reservation.period}"></td>


        <td>
            <a th:href="@{/reservations/} + ${reservation?.id} + '/'">Update</a>
        </td>

        <td>
            <form th:action="@{/reservations/delete/} + ${reservation?.id} + '/'" th:object="${reservation}" method="post">
                <input type="submit" value="Delete"/>
            </form>
        </td>

        <td>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>