<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
    body {
    background-image: url(/img/img2.jpg);
    background-color: #cccccc
    }
    </style>
    <style>
            select {
              height: 30px;
              color: #ffffff;
            }
        </style>
    <title>List of gym members</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../static/css/jquery.datetimepicker.min.css"
          th:href="@{css/jquery.datetimepicker.min.css}" rel="stylesheet" media="screen"/>
    <script src="jquery.datetimepicker.js"></script>
    <script src="jquery.datetimepicker.full.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

</head>
<body>

<table th:if="${errors != null}">
    <tr th:each="error : ${errors}">
        <td th:text="${error}"></td>
    </tr>

</table>

<form action="#" th:action="@{/gymmembers}" th:object="${createGymMemberRegistration}" method="post">
    <fieldset>
        <legend style="color:white">Gym member details</legend>
        <label th:for="${firstName}" style="color:white">First name</label>
        <input type="text" id="firstName" name="firstName" th:value="*{firstName}"/>

        <label th:for="${lastName}" style="color:white">Last name</label>
        <input type="text" id="lastName" name="lastName" th:value="*{lastName}"/>

        <label th:for="${gender}" style="color:white">Gender</label>
        <select id="gender" name="gender">
            <option value="NONE">--- Select ---</option>
            <option value="MALE">MALE</option>
            <option value="FEMALE">FEMALE</option>
            <option value="UNSPECIFIED">UNSPECIFIED</option>
        </select>

        <label th:for="${birthDate}" style="color:white">Birth date</label>
        <input type="text" id="birthDate" name="birthDate" th:value="*{birthDate}"/>
        <td th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}">Birth date error</td>

        <label th:for="${telephone}" style="color:white">Telephone</label>
        <input type="text" id="telephone" name="telephone" th:value="*{telephone}"/>

        <label th:for="${email}" style="color:white">E-mail</label>
        <input type="text" id="email" name="email" th:value="*{email}"/>

        <label th:for="${student}" style="color:white">Student</label>
        <select id="student" name="student">
            <option value="NONE">--- Select ---</option>
            <option value="true">True</option>
            <option value="false">False</option>
        </select>

        <label th:for="${corporate}" style="color:white">Corporate</label>
        <select id="corporate" name="corporate">
            <option value="NONE">--- Select ---</option>
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
    </fieldset>

        <fieldset>
            <legend style="color:white">Gym trainer details</legend>

        <label th:for="${firstNameTrainer}" style="color:white">Trainer first name</label>
        <input type="text" id="firstNameTrainer" name="firstNameTrainer" th:value="*{firstNameTrainer}"/>

        <label th:for="${lastNameTrainer}" style="color:white">Trainer last name</label>
        <input type="text" id="lastNameTrainer" name="lastNameTrainer" th:value="*{lastNameTrainer}"/>

        </fieldset>

    <fieldset>

        <legend style="color:white">Program</legend>
        <label th:for="${classes}" style="color:white">Class</label>
            <select id="classes" name="classes">
                <option value="NONE">--- Select ---</option>
                <option value="Pilates">Pilates</option>
                <option value="Yoga">Yoga</option>
                <option value="Zumba">Zumba</option>
                <option value="Kick-box">Kick-box</option>
                <option value="TRX">TRX</option>
                <option value="Fitball">Fitball</option>
            </select>
    </fieldset>

        <fieldset>
            <legend style="color:white">Gym subscription details</legend>

        <label th:for="${type}" style="color:white">Type</label>
        <select id="type" name="type">
            <option value="NONE">--- Select ---</option>
            <option value="Daily">Daily</option>
            <option value="Weekly">Weekly</option>
            <option value="Monthly">Monthly</option>
            <option value="3 months">3 months</option>
            <option value="6 months">6 months</option>
            <option value="1 year">1 year</option>
        </select>

        <label th:for="${discount}" style="color:white">Discount</label>
        <input type="text" id="discount" name="discount" th:value="*{discount}"/>

            <label th:for="${startDate}" style="color:white">Start Date</label>
            <input type="text" id="startDate" name="startDate" th:value="*{startDate}"/>
            <script>
    $(document).ready(function(){
        var date_input=$('input[name="startDate"]');
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'dd/mm/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })
    })
        </script>
                <label th:for="${endDate}" style="color:white">End date</label>
                <input type="text" id="endDate" name="endDate" th:value="*{endDate}"/>
                <script>
    $(document).ready(function(){
        var date_input=$('input[name="endDate"]');
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'dd/mm/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })
    })
    </script>
        <label th:for="${price}" style="color:white">Price</label>
        <input type="text" id="price" name="price" th:value="*{price}"/>
        </fieldset>

    <div>
        <input type="submit" id="doUpdate" name="save client" value="create gym member"/>
    </div>
</form>

<br/>
<br/>


<table id="myTableId" dt:table="true">
    <!--<thead>-->
    <!--<tr>-->
        <!--<th>First Name</th>-->
        <!--<th>Last Name</th>-->
        <!--<th>Gender</th>-->
        <!--<th>Birth date</th>-->
        <!--<th>Telephone</th>-->
        <!--<th>Email</th>-->
        <!--<th>Student</th>-->
        <!--<th>Corporate</th>-->
        <!--<th>ID</th>-->

        <!--<th>Gym Trainer</th>-->
        <!--<th>Trainer first name</th>-->
        <!--<th>Trainer last name</th>-->

        <!--<th>Program</th>-->
        <!--<th>Class</th>-->

        <!--<th>Gym subscription</th>-->
        <!--<th>Type</th>-->
        <!--<th>Discount</th>-->
        <!--<th>Start date</th>-->
        <!--<th>End date</th>-->
        <!--<th>Price</th>-->
        <!--<th>Update</th>-->
        <!--<th>Delete</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <tbody>
    <tr th:each="gymMembers : ${gymMember}">
        <td th:text="${gymMembers.firstName}"></td>
        <td th:text="${gymMembers.lastName}"></td>
        <td th:text="${gymMembers.gender}"></td>
        <td th:text="${gymMembers.birthDate}"></td>
        <td th:text="${gymMembers.telephone}"></td>
        <td th:text="${gymMembers.email}"></td>
        <td th:text="${gymMembers.student}"></td>
        <td th:text="${gymMembers.corporate}"></td>
        <td th:text="${gymMembers.id}"></td>


        <td>Gym Trainer</td>
        <td th:text="${gymMembers.gymTrainer.firstNameTrainer}"></td>
        <td th:text="${gymMembers.gymTrainer.lastNameTrainer}"></td>

        <td>Program</td>
        <td th:text="${gymMembers.Program.classes}"></td>

        <td>Gym Subsctiption</td>
        <td th:text="${gymMember.gymSubscription.type}"></td>
        <td th:text="${gymMember.gymSubscription.discount}"></td>
        <td th:text="${#dates.format(gymMember.gymSubscription.startDate, 'dd/mm/yyyy')}"></td>
        <td th:text="${#dates.format(gymMember.gymSubscription.endDate, 'dd/mm/yyyy')}"></td>
        <td th:text="${gymMember.gymSubscription.price}"></td>


        <td>
            <a th:href="@{/gymmembers/} + ${gymMembers?.id} + '/'">Update</a>
        </td>

        <td>
            <form th:action="@{/gymmembers/delete/} + ${gymMembers?.id} + '/'" th:object="${gymMembers}" method="post">
                <input type="submit" value="Delete"/>
            </form>
        </td>

        <td>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>