<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
<head>
    <title>Update Client</title>
    <meta http-equiv="Content-Type" content="application/x-www-form-urlencoded; charset=UTF-8" />
</head>
<body>


<form action="#" th:action="@{/gymmembers/update/} + ${gymMember_id} + '/'" th:object="${updateGymMemberRegistration}" method="post">
    <div>
        <label th:for="${firstName}">Gym member first name</label>
        <input type="text" id="firstName" name="firstName" th:value="*{firstName}"/>
    </div>
    <div>
        <label th:for="${lastName}">Gym member last name</label>
        <input type="text" id="lastName" name="lastName" th:value="*{lastName}"/>
    </div>
    <div>
        <label th:for="${gender}">Gym member gender</label>
        <input type="text" id="gender" name="gender" th:value="*{gender}"/>
    </div>
    <div>
        <label th:for="${birthDate}">Gym membe birth date</label>
        <input type="text" id="birthDate" name="birthDate" th:value="*{birthDate}"/>
    </div>
    <div>
        <label th:for="${telephone}">Gym member telephone</label>
        <input type="text" id="telephone" name="telephone" th:value="*{telephone}"/>
    </div>
    <div>
        <label th:for="${email}">Gym member email</label>
        <input type="text" id="email" name="email" th:value="*{email}"/>
    </div>
    <div>
        <label th:for="${student}">Gym member student</label>
        <input type="text" id="student" name="student" th:value="*{student}"/>
    </div>
    <div>
        <label th:for="${corporate}">Gym member corporate</label>
        <input type="text" id="corporate" name="corporate" th:value="*{corporate}"/>
    </div>
    <div>
        <label th:for="${gymTrainer}">Gym trainer</label>
    </div>
    <div>
        <label th:for="${firstNameTrainer}">Trainer first name</label>
        <input type="text" id="firstNameTrainer" name="firstNameTrainer" th:value="*{firstNameTrainer}"/>
    </div>
    <div>
        <label th:for="${lastNameTrainer}">Trainer last name</label>
        <input type="text" id="lastNameTrainer" name="lastNameTrainer" th:value="*{lastNameTrainer}"/>
    </div>
    <div>
        <label th:for="${program}">Trainer program</label>
        <input type="text" id="program" name="program" th:value="*{program}"/>
    </div>

    <div>
        <label th:for="${gymSubscription}">Gym subscription</label>
    </div>
    <div>
        <label th:for="${type}">Gym subcription type</label>
        <input type="text" id="type" name="type" th:value="*{type}"/>
    </div>
    <div>
        <label th:for="${price}">Gym subcription price</label>
        <input type="text" id="price" name="price" th:value="*{price}"/>
    </div>
    <div>
        <label th:for="${discount}">Discount</label>
        <input type="text" id="discount" name="discount" th:value="*{discount}"/>
    </div>

    <div>
        <input type="submit" id="doUpdate" name="update gym member" value="Update gym member"/>
    </div>
</form>

</body>
</html>