<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
<head>
    <title>Update Reservation</title>
    <meta http-equiv="Content-Type" content="application/x-www-form-urlencoded; charset=UTF-8" />

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../static/css/jquery.datetimepicker.min.css"
          th:href="@{css/jquery.datetimepicker.min.css}" rel="stylesheet" media="screen"/>
    <script src="jquery.datetimepicker.js"></script>
    <script src="jquery.datetimepicker.full.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
</head>
<body>


<form action="#" th:action="@{/reservations/update/} + ${reservation_id} + '/'" th:object="${updateGymMemberReservation}" method="post">
    <fieldset>
        <legend>Reservation details</legend>
        <label th:for="${email}">Gym member email</label>
        <input type="text" id="email" name="email" th:value="*{email}"/>


        <label th:for="${firstNameTrainer}">Gym trainer first name</label>
        <input type="text" id="firstNameTrainer" name="firstNameTrainer" th:value="*{firstNameTrainer}"/>


        <label th:for="${lastNameTrainer}">Gym trainer last name</label>
        <input type="text" id="lastNameTrainer" name="lastNameTrainer" th:value="*{lastNameTrainer}"/>


        <label th:for="${program}">Gym trainer program</label>
        <select id="program" name="program">
            <option value ="NONE">--- Select ---</option>
            <option value="Pilates">Pilates</option>
            <option value="Yoga">Yoga</option>
            <option value="Zumba">Zumba</option>
            <option value="Kick-box">Kick-box</option>
            <option value="TRX">TRX</option>
            <option value="Fitball">Fitball</option>
        </select>

        <label th:for="${period}">Gym trainer period</label>
        <input type="text" id="period" name="period" th:value="*{period}"/>
        <script>
    $(document).ready(function(){
        var date_input=$('input[name="period"]');
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'dd/mm/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })
    })
        </script>

    </fieldset>

    <div>
        <input type="submit" id="doUpdate" name="update" value="update reservation"/>
    </div>
</form>

</body>
</html>